<div class="container">
	<div class="jumbotron">
		<h1>To-Do List</h1>
	</div>

	<div class="row">

		<!-- Incomplete tasks -->
		<div class="col-xs-5">
			<ul id="list">

			{{#each tasks}}
				{{#unless isComplete}}
				<li id="item_{{id}}">
					<div id="text_{{id}}">
						<div id="task_{{id}}">{{task}}</div>
						
						<div>
							<button type="button" data-id="{{id}}" class="complete">Complete</button>&nbsp;
							<button type="button" data-id="{{id}}" class="update">Modify</button>&nbsp;
							<button type="button" data-id="{{id}}" class="delete">Delete</button>
						</div>
						<br/>
					</div>

					<div id="update_{{id}}" class="form-group" style="display: none;">
						<label for="task">Task:</label>
						<input type="text" id="task_update_{{id}}" name="task" value="{{task}}">
						<button type="button" data-id="{{id}}" class="submitUpdate">Update Task</button>
					</div>
				</li>
				{{/unless}}
			{{/each}}

			</ul>
		</div>

		<!-- Completed tasks -->
		<div class="col-xs-offset-2 col-xs-5">
			<button type="button" id="clear_completed">Clear Completed Tasks</button>
			<br/>
			<br/>

			<ul id="done">

			{{#each tasks}}
				{{#if isComplete}}
				<li>{{task}}</li>
				{{/if}}
			{{/each}}

			</ul>
		</div>
	</div>  <!-- End row -->

	<br/>

	<!-- Create task -->
	<div class="row">
		<div class="col-xs-12">
		  <div class="form-group">
		    <label for="new_task">New task: </label>
		    <input type="text" id="new_task" name="new_task">
		  </div>

		  <button type="button" id="create">Add task</button>
		</div>
	</div>  <!-- End row -->

	<br/>

	<div class="row">
		<div class="col-md-12">
			<p>
				<a href="/api/friends">API To-Do List</a> | <a href="https://github.com/mattsplats/to-do">GitHub Repo</a>
			</p>
		</div>
	</div>
</div>